
@media screen
{
	body {
	background-color: #000020;
	background-image: url("");
	}
}

@media print
{
	body {
	background-color: transparent;
	background-image: url("");
	}
}

@media screen
{
	div {
	border: solid 0.1em #1010c0;
	background-color: #101038;
	color: #c0c0c0;
	}
}

@media print
{
	div {
	border: solid 0.1em darkblue;
	background-color: transparent;
	color: black;
	}
}

div.logo {
width: 10em;
height: 6em;
position: absolute;
left: 1em;
top: 1em;
}

div.logo img {
width: 100%;
height: 100%;
}


div.menu {
width: 10em;
position: absolute;
left: 1em;
top: 8em;
}

@media print
{
	div.menu {
	display: none;
	}
}

div.menu ul {
list-style-type: none;
padding-left: 0;
margin-left: 0;
}

div.body {
width: 50em;
position: absolute;
left: 12em;
top: 1em;
padding: 0.3em;
}

h1 {
margin-top: 0;
color: #f0f0f0;
}
