
body {
	padding: 0;
	margin: 0;
	background-color: black;
}
@media print {
	body {
		background-color: transparent;
	}
}

div {
	border: solid 0.0625em #0202b0;
	background-color: #020240;
	color: #e4e4e4;
	margin: 1em;
}
@media print
{
	div {
		border: solid 0.0625em #020240;
		background-color: transparent;
		color: black;
	}
}

a {
	color: white;
}
@media print
{
	a {
		color: black;
	}
}

table {
	border: solid 0.0625em #0202b0;
	border-collapse: collapse;
	margin-top: 0.3em;
}
td, th {
	border: dotted 0.0625em #0202b0;
	padding: 0.1em 0.3em;
	vertical-align: top;
}
th {
	text-align: center;
	font-weight: bold;
}
@media print
{
	table {
		border: solid 0.0625em #020240;
	}
	td, th {
		border: dotted 0.0625em #020240;
	}
}

div.menuouter, div.bodyouter {
	margin: 0;
	border: 0;
	background: transparent;
	position: absolute;
}
div.menuouter {
	left: 0;
	top: 0;
	width: 10em;
}
div.logo {
	width: 8em;
	height: 6em;
}
div.logo img {
	width: 100%;
	height: 100%;
}
div.menu {
	padding: 0.3em;
}
div.menu ul {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}

div.bodyouter {
	left: 9em;
	top: 0;
	min-width: 20em;
}
div.title {
	//min-width: 20em;
	padding: 0.3em;
}
div.body {
	//min-width: 20em;
	padding: 0.3em;
}

@media print
{
	div.logo {
	display: none;
	}
	div.menu {
	display: none;
	}
	div.bodyouter {
	left: 0em;
	}
}

h1, h2, h3, h4, h5
{
	margin: 0;
}

.error {
color: red;
}

div.starmap {
position: relative;
background: black;
}

div.starmap a img {
border: 0;
}

.navtop, .navbottom, .navleft, .navright {
border: 0;
}

.navtop, .navbottom {
position: absolute;
left: 50%;
width: 6.5em;
height: 1.3em;
margin-left: -3.25em;
text-align: center;
z-index: 1;
}

.navtop {
top: 0.35em;
}

.navbottom {
bottom: 0.35em;
}

.navleft, .navright {
position: absolute;
top: 50%;
width: 1.3em;
height: 6.5em;
margin-top: -3.25em;
text-align: center;
z-index: 1;
}

.navleft {
left: 0.35em;
}

.navright {
right: 0.35em;
}

.zoomin, .zoomout {
position: absolute;
width: 1.3em;
height: 1.3em;
text-align: center;
z-index: 1;
top: 0.35em;
}

.zoomin {
right: 1.8em;
}

.zoomout {
right: 0.35em;
}
