
@media screen
{
	body {
	background-color: black;
	background-image: url("");
	}
}

@media print
{
	body {
	background-color: transparent;
	background-image: url("");
	}
}

div {
overflow: auto;
}

td, th 
{
	vertical-align: top;
}

@media screen
{
	div {
	border: solid thin #0202b0;
	background-color: #020240;
	color: #e4e4e4;
	}
	table {
	border: solid thin #0202b0;
	border-collapse: collapse;
	margin-top: 0.3em;
	}
	td, th {
	border: dotted thin #0202b0;
	padding: 0.1em 0.3em;
	}
	th {
	text-align: center;
	font-weight: bold;
	}
	a {
	color: white;
	}
}

@media print
{
	div {
	border: solid thin darkblue;
	background-color: transparent;
	color: black;
	}
}

div.logo {
width: 10em;
height: 6em;
position: absolute;
left: 1em;
top: 1em;
}

div.logo img {
width: 100%;
height: 100%;
}

div.menu {
width: 9.4em;
position: absolute;
left: 1em;
top: 8em;
padding: 0.3em;
}

div.menu ul {
list-style-type: none;
padding-left: 0;
margin-left: 0;
}

div.body {
min-width: 50em;
position: absolute;
left: 12em;
top: 1em;
padding: 0.3em;
}

@media print
{
	div.logo {
	display: none;
	}
	div.menu {
	display: none;
	}
	div.body {
	left: 1em;
	}
}

h1 {
margin-top: 0;
}

.error {
color: red;
}

div.starmap {
position: relative;
background: black;
}

div.starmap a img {
border: 0;
}

div.navtop, div.navbottom {
position: absolute;
left: 50%;
width: 6.5em;
height: 1.3em;
margin-left: -3em;
text-align: center;
z-index: 1;
}

div.navtop {
top: 0;
}

div.navbottom {
bottom: 0;
}

div.navleft, div.navright {
position: absolute;
top: 50%;
width: 1.3em;
height: 6.5em;
margin-top: -3em;
text-align: center;
z-index: 1;
}

div.navleft {
left: 0;
}

div.navright {
right: 0;
}

div.zoomin, div.zoomout {
position: absolute;
width: 1.3em;
height: 1.3em;
text-align: center;
z-index: 1;
top: 0;
}

div.zoomin {
right: 1.4em;
}

div.zoomout {
right: 0;
}
