<ul>
    {% if user.loggedIn == 'Y' %}
    <li><a href="/SpaceMMO/list_colonies.php">Colonies List</a></li>
    <li><a href="/SpaceMMO/list_bookmarks.php">Bookmarks List</a></li>
    <li><a href="/SpaceMMO/list_shipdesigns.php">Ship Designs</a></li>
    {% if current.systemID is defined %}
    <li><a href="/SpaceMMO/view_systems.php?system={{ current.systemID }}">View Galaxy</a></li>
    {% else %}
    <li><a href="/SpaceMMO/view_systems.php">View Galaxy</a></li>
    {% endif %}
    <li><a href="/SpaceMMO/account.php">Account Info</a></li>
    <li><a href="/SpaceMMO/help/getting_started.php">Help</a></li>
    {% else %}
    <li><a href="/SpaceMMO/login_form.php">Log In</a></li>
    {% endif %}
</ul>
