<h3>Admin Menu</h3>
<ul>
    {% if user.adminuserID is defined %}
        <li><a href="/SpaceMMO/admin/impersonate.php">Stop Impersonating</a></li>
    {% endif %}
    <li><a href="/SpaceMMO/admin/listusers.php">Users List</a></li>
    <li><a href="/SpaceMMO/admin/listsystems.php">Systems List</a></li>
    <li><a href="/SpaceMMO/admin/listbuildings.php">Buildings List</a></li>
    <li><a href="/SpaceMMO/admin/listshiphulls.php">Ship Hulls List</a></li>
    <li><a href="/SpaceMMO/list_colonies_twig.php">Twig Test</a></li>
</ul>